

.alignLeft
{
    display: flex;
    justify-content: right;
}
.centerMe
{
    text-align: center;
}
.centerBottom
{
    display: flex;
    justify-content: center;
    position:fixed;
    bottom: 0;
    right: 0;
    left: 0;
}
p, div
{
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
}


.header{
    display: grid; 
    grid-template-columns: 1% 15% 6% 15% 6% 15% 6%;
    background-color: rgb(78, 78, 78); 
    height: 136px;
}

.headerButton{
    width: 245px;
    height: 80px;
    grid-row-start: 2; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: -5px;
    background-color: lightgrey; 
}

.playlistButton
{
    width: 450px;
}

a{
    text-decoration: none;
    color: black;
}
